$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopM: 1274px;
$laptopL: 1440px;
$desktop: 2560px;

@mixin mobileS {
  @media (max-width: $mobileS) {
    @content;
  }
}

@mixin mobileM {
  @media (max-width: $mobileM) {
    @content;
  }
}

@mixin mobileL {
  @media (max-width: $mobileL) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: $laptop) {
    @content;
  }
}

@mixin laptopM {
  @media (max-width: $laptopM) {
    @content;
  }
}

@mixin laptopL {
  @media (max-width: $laptopL) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}
