@import "../../pages/styles/mixins.scss";

header {
  padding: 10px 10%;
  display: flex;
  justify-content: space-between;
  box-shadow: 4px 4px 12px #eee, -4px -4px 12px #f4f4f4;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  .main_nav {
    display: flex;
    align-items: center;
    .logo {
      width: 200px;
      margin-right: 70px;
    }

    .menubar {
      display: none;
    }

    .navigations_one {
      margin-top: 35px;
      a {
        padding: 10px;
        font-weight: 600;
      }
      .signin_and_registration {
        position: absolute;
        right: 9.5%;
        z-index: 1001;
        top: 15px;
      }
    }
  }

  .cart_items {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #eaeaea;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    right: 10%;
    text-align: center;
    padding: 15px 25px;

    svg {
      font-size: 1.6em;
      color: #d10157;
      margin-right: 5px;
    }
  }
}

.sidebar {
  display: none;
}

@include laptop {
  header {
    padding: 10px 0px;

    .main_nav {
      .navigations_one {
        .signin_and_registration {
          right: 0;
        }
      }
    }
    .cart_items {
      right: 0;
    }
  }
}

@include tablet {
  header {
    padding: 10px 0px;

    .main_nav {
      .logo {
        width: 90px;
        margin-right: 10px;
      }
      .navigations_one {
        display: none;
        .signin_and_registration {
          display: none;
        }
      }
      .menubar {
        display: block;
        margin: 0px 10px;
        height: 100%;
        color: #000;
        font-size: 1.6em;
      }
    }
    .cart_items {
      right: 0;
      height: 100%;
    }
  }

  .sidebar {
    display: block;
    position: absolute;
    z-index: 2000;
    top: 0px;
    left: 0;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    transition: all 350ms ease-in-out;
    padding-top: 50px;
    .closeIcon {
      float: right;
      margin-top: -35px;
      margin-right: 20px;
      svg {
        font-size: 1.9em;
        color: #d10157;
      }
    }
    ul {
      list-style-type: none;
      padding-left: 0px;
      li {
        font-size: 1.2em;
        font-weight: 500;
        a {
          display: block;
          width: 100%;
          padding: 20px 40px;
        }
      }
    }
  }
  .backdrop {
    content: "";
    position: absolute;
    z-index: 1100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
  }
}
