.message {
  display: flex;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014,
    0 9px 28px 8px #0000000d;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  padding: 12px 25px;
  background-color: #fff;
  color: #000;
  z-index: 2100;
  svg {
    margin-right: 7px;
  }
  p {
    margin: 0px;
  }
}
